@import '../../assets/animations'

img.logo
  position: absolute
  left: 0
  top: 0
  margin: 1em
  width: 300px

div.landing
  position: fixed
  z-index: -1

#first, #second, #third
  top: 0
  width: 31%

#first
  right: 60%
  >h1
    margin-left: 50%
    text-align: right

#second
  right: 20%
  z-index: -1
  background: url("../../assets/media/merdhad.jpg")
  background-size: contain
  background-position: center
  background-repeat: no-repeat

#third
  right: 0
  z-index: -2
  background: url("../../assets/media/eve.jpg")
  background-size: contain
  background-position: center
  background-repeat: no-repeat
