<div class="section dark flex-center">
  <div class="flex-cols">
    <h2 class="dark-lime">
      Who are we?
    </h2>
    <div class="flex-rows">
      <p inViewport (inViewportAction)="onIntersection($event)">
        Chalmers entrepreneurship society was launched a couple of years ago as a means of young entrepreneurs to connect and get help with where to go with their startup ideas. Overtime we have formed strong connections with incubators and mentor programs all over Gothenburg, and to some extent the rest of the World.
      </p>
      <p inViewport (inViewportAction)="onIntersection($event)" class="delay0-25">
        The unique part about CES is the community. We aspire to create a hub for entrepreneurial students to connect and create. As a student you might join with an idea of a project you want to start, or maybe you have no idea and just that you want to do something different. CES is for the ones with dreams of making the world a better place. We believe everyone has something valuable to share!
      </p>
      <p inViewport (inViewportAction)="onIntersection($event)" class="delay0-5">
        Everyone with a big dream is welcome, and there is no lower limit to join. We encourage people who dont have any idea at all to join. We have seen how many amazingly skilled students there are in this town. Everyone can contribute with something. At CES we make sure that these skills are put to use, together we can accomplish greatness!
      </p>
    </div>
  </div>
</div>
