<div class="section dark flex-center">
  <div class="text-wrapper flex-cols">
    <h1 class="dark-lime">
      Who We Are
    </h1>
    <div>
      <p inViewport (inViewportAction)="onIntersection($event)">
        CES is a student driven society that consists of people aiming to explore the world of entrepreneurship and innovation. We welcome students with dreams of making the world a little bit better, smarter and more sustainable. By arranging workshops, mingles, case nights and competitions we are creating a hub for entrepreneurial students to connect and create.
     </p>
     </div>
     <h1 inViewport (inViewportAction)="onIntersection($event)" class="dark-lime delay0-25">
       Our Vision
     </h1>
     <div>
       <p inViewport (inViewportAction)="onIntersection($event)">
         At CES we want to enable relations between students interested in entrepreneurship while in the meantime provide a connection to the start-up community in Gothenburg. As part of Entrepreneurship By Chalmers, we also aim to lower the bar for entrepreneurship among students and to inspire everyone to use their skills and interests to make their dreams grow.

      </p>
    </div>
    <h1 inViewport (inViewportAction)="onIntersection($event)" class="dark-lime delay0-25">
      The CES board 21/22
    </h1>
    <div>
      <p inViewport (inViewportAction)="onIntersection($event)">
        The application to become part of the CES board 21/22 is open! As a board member you will help bring the society to the next level together with a team of driven entrepreneurs. You will create events, maintain and develop relationships with other organisations and universities and help students succeed on their entrepreneurial journey. We are looking for a Head of board, Vice Chairman, Cashier, Event coordinator, Sponsor hunter and PR-managers. Apply <a class="normal-link" href="https://docs.google.com/forms/d/e/1FAIpQLSf7ovTfK3NmLHiN-HFGfQwXOa9qq3mfR_9SsaUAn4S6bGyToQ/viewform">here</a> before Sunday 2/5.
     </p>
   </div>
  </div>
</div>
