<div class="section dark flex-center">
  <div class="text-wrapper flex-cols">
    <h2 class="dark-lime">
      Who We Are
    </h2>
    <div>
      <p inViewport (inViewportAction)="onIntersection($event)">
        CES is a student driven society that consists of people aiming to explore the world of entrepreneurship and innovation. We welcome students with dreams of making the world a little bit better, smarter and more sustainable. By arranging workshops, mingles, case nights and competitions are we creating a hub for entrepreneurial students to connect and create.
     </p>
     </div>
     <h2 inViewport (inViewportAction)="onIntersection($event)" class="dark-lime delay0-25">
       Our Vision
     </h2>
     <div>
       <p inViewport (inViewportAction)="onIntersection($event)">
         At CES we want to enable relations between students interested in entrepreneurship while in the meantime provide a connection to the start-up community in Gothenburg. As part of Entrepreneurship By Chalmers, we also aim to lower the bar for entrepreneurship among students and to inspire everyone to use their skills and interests to make their dreams grow.

      </p>
    </div>
  </div>
</div>
