div
  div
    width: 85%
    height: 70%
    h2
      flex: 1
    div
      flex: 2
      width: 100%
      justify-content: space-around
      >p
        flex: 1
        padding-right: 5em
