<div class="flex-center section">
  <div class="text-wrapper-2 flex-cols">
    <h2>Become a partner</h2>
    <p>
      Chalmers entrepreneurship is a society with mostly young people, wanting to make a difference by creating value for others and society. Although most of our members are student CES is open for anyone who wants to be part of creating the future in some way - good ideas grow better together.
    </p>
    <p>
      We are always looking for new collaborations and if you as a company want to support us or be part of our work, please feel free to contact us.
      Please contact us via our <a class="normal-link" href="https://www.facebook.com/chalmersentrepreneurshipsociety">facebook page</a>
    </p>
  </div>
</div>
<app-footer></app-footer>
