<div class="flex-center section">
  <div class="text-wrapper-2 flex-cols">
    <h2>Join the community</h2>
    <p>
      As a member, you will be able to attend all our events, get help to get your project started, be able to share your knowledge with someone who needs your skills and get support to get you and your project going in the right direction.
      Don't miss out, follow our <a class="normal-link" href="https://www.facebook.com/chalmersentrepreneurshipsociety">facebook page</a>
    </p>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfF-awq8ZUZ8NXE8a3K78uj1LhsrAv0YteQ3GXqBTBCAQyaww/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</div>
<app-footer></app-footer>
