@import './assets/animations.sass'

/* Fonts */
@font-face
  font-family: 'Montserrat Bold'
  src: url('./assets/fonts/Montserrat-Bold.otf') format('opentype')
$heading-font: 'Montserrat Bold', Arial
$default-font: Sans-serif
$default-font-size: 1.1em
$big-font-size: 3em
$huge-font-size: 4em

/* Colors */
$default-dark: black
$default-bright: whitesmoke
$ces-lime: #aaf230

body
  margin: 0
  font-family: $default-font

a
  text-decoration: none
  color: $default-dark
  height: 100%
  width: 100%
  border: none

h1
  font-family: $heading-font
  font-size: $huge-font-size
  font-weight: bold

h2, a
  font-family: $heading-font
  font-weight: bold
  font-size: $big-font-size

p
  font-size: $default-font-size
  letter-spacing: 1.2px
  line-height: 1.5em

.bright, body
  background: $default-bright
  color: $default-dark

.dark
  background: $default-dark
  color: white

.dark-lime
  background: $default-dark
  color: $ces-lime

.section
  width: 100%
  height: 100vh

.flex-center, .flex-cols, .flex-rows, .flex-end
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

.flex-center
  align-items: center
  justify-content: center

.flex-cols
  flex-direction: column

.flex-rows
  flex-direction: row

.flex-end
  flex-direction: row
  justify-content: flex-end
