/* Fonts */
@font-face
  font-family: 'Montserrat Bold'
  src: url('./fonts/Montserrat-Bold.otf') format('opentype')
$heading-font: 'Montserrat Bold', Arial
$default-font: Sans-serif
$tiny-font-size: 0.4em
$small-font-size: 0.7em
$default-font-size: 1.1em
$moderate-font-size: 2em
$big-font-size: 3em
$huge-font-size: 4em
